*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background:rgb(180, 178, 178);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    margin: 0;
}

.container-nav{
    display:flex;
}

@media screen {.container-nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 400px;
}
    
}



nav h1 {
    float:left;
    font-size: 70px;
    margin-top: 10px;
    margin-left: 25px;
    font-weight: 200;
}


nav{
    background-color: rgb(135, 29, 161);
    color: white;
    float:right;  
    margin: 0;
    width: 100%;
    position: fixed;
    z-index: 99999;
}


nav ul{
    margin:10px;
    padding-top:23px;
    padding-right: 30px;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 50px;
    padding-top: 10px;
    position:relative;
    float: right;
}

nav a{
    color:white;
    text-decoration: none;
    font-size: 30px;
}

nav a:hover{
    color: rgb(180, 178, 178) ;
    
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    top:40px;
    background-color: white;
    position:absolute;
    transition: ease-in-out 500ms;
}

nav a:hover::before{
    width:100%;
}



.container-heroImage{
    background-image: url(https://media.istockphoto.com/id/1089621680/photo/mystical-purple-steam-on-a-dark-background-cloud-close-up.jpg?s=170667a&w=0&k=20&c=x2YtOpLmaM4DvsMQIIYy5iz6LAPqOkoflIcyj-OrhNI=);
    background-size: cover;
    background-position: center;
    height:50vh;
    position: relative;
    background-repeat: no-repeat;
    display:flex;
    justify-content:center;
    align-items: center;
}

.container-heroText{
    display: flex;
    position:relative;
    color:white;
    font-weight: 100;   
}

.container-heroText h1{
    margin-top: 150px;
    text-align: center;
    font-weight: 200px;
    text-decoration: underline;
}

.container-heroText h2{
    text-align: center;
    margin-top: 200px;
}

img{
    width:250px;
    margin: 15px;
    display: inline-block;
}

.container-aboutMe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flexItemOne{
    padding: 15px;
    flex-wrap: wrap;
    border: solid;
    border-color: rgb(126, 124, 124);
    width:33%;
    margin-top: 15px;
    
    
}

.flexItemOne-inside{
    text-align: center;
    padding:15px;
    border: solid;
    margin:15px;
    color: white;
    background-color: rgb(135, 29, 161);
    box-shadow: 4px 4px 5px rgb(126, 124, 124);

}

.container-projectBox{
    display:flex;
    margin-top: 15px;
    margin-bottom: 15px;
 
}

.projectBox{
    padding: 15px;
    border: solid;
    flex-wrap: wrap;
    border-color: rgb(126, 124, 124);
    width:35%;
    margin-top: 15px; 
    margin-bottom: 15px;
}

.projectBox-inside{
    border-style: solid;
    border-color:white;
    color:white;
    font-style:italic;
    font-weight: 75;
    font-size: 50px;
    text-decoration: underline;
    margin-top: 15px;
    text-align: center;
    
}


.h1portfolio{
    font-size: 50px;
    font-weight: 100;
    text-decoration: underline;
    margin-top: 15px;
    margin-left: 50px;

}


.contactMe{
    background-color: rgb(135, 29, 161);
    height:200px;

}

h2{
 text-align: center;
 font-weight: 300;
 font-size: 40px;
 text-decoration: underline;
 color:white
}

.askMe{
    text-align: center;
    margin-top: 15px;
    color:white;
}

.contactMe ul{
    color: white;
    float: right;
    font-size: 21px;
    list-style: none;
    margin-right: 30px;
}